<footer class="bg-white">
  <hr>
    <div class="container max-w-screen-lg mx-auto flex justify-between items-center p-5">
      <div class="flex items-center space-x-3">
        <img src="../assets/images/logo.svg" alt="Logo" class="h-10 w-10">
      </div>
      <div class="flex space-x-6">
        <a href="https://github.com/jadajevane" target="_blank" rel="noopener" title="GitHub" class="hover:text-gray-400 transition duration-300">
          <i class="fab fa-github text-2xl"></i>
        </a>
        <a href="https://www.linkedin.com/in/jada-h-abab87258/" target="_blank" rel="noopener" title="LinkedIn" class="hover:text-gray-400 transition duration-300">
          <i class="fab fa-linkedin text-2xl"></i>
        </a>
        <a href="https://www.instagram.com/jadajevane/" target="_blank" rel="noopener" title="Instagram" class="hover:text-gray-400 transition duration-300">
          <i class="fab fa-instagram text-2xl"></i>
        </a>
        <a href="https://discord.com" target="_blank" rel="noopener" title="Discord" class="hover:text-gray-400 transition duration-300">
          <i class="fab fa-discord text-2xl"></i>
        </a>
      </div>
  </div>
</footer>